Update TLS 1.2 Profiling

In the EMU 116 Chat

**John Preuß Mattsson:**
I think the TLS 1.2 profiling needs work for this to be worthy of 2023 standards track. RFC 7540 was best practice 2015. Legacy interop is tricky so I don't think the draft needs to forbid as much as the 2025 RFC 7540.

What I strongly thing the draft must add is

    Add. "This version of the TEAP implementation MUST support and prefer TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 with the P-256 elliptic curve". This is the cipher suite mandated by HTTP/2.

    Refer to BCP 195 (RFC 9325, RFC 8996)

Nit: TLS RFC spells "cipher suite"


**Yoav Nir:** If we're specifying a ciphersuite in 2023, do we specify anything with _RSA_ ?

**Dan Harkins**: not RSA key exchange but RSA sig are fine

**Yoav Nir:** RSA sigs are fine if your keys are big enough, and by now the recommendations are really big ones.

**Dan Harkins:** ECDHE and ECDSA


Seemed to be agreement in the room to add reference to BCP 195 and to mandate support and prefer one of

TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256

Addressed in recent commits.  Also update `ciphersuite` to `cipher suite`